

body {
  position: relative;
  min-height:100%;
  width: 100%;
  background-color: #000000 !important;
  color: white;
  height:100%;
  display:block;
  font-family: 'Open Sans',sans-serif;

}


p{
  color: white !important;
  text-align: center;
}

#pageHeader {
  width: 100%;
  height: 45px;
}

.box-shadow-menu {
  position: relative;
  padding-left: 3em;
}
.box-shadow-menu:before {
  content: "";
  margin-top: 10px;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.7em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.40em 0 0 white,
    0 0.8em 0 0 white;
}

/*#gameLogo{
  width: 200px;
  height: 100px;
}*/

#nav a img {
  vertical-align: top;
}
#homelogo img {
  margin-top: 8px;
}

#nav {
  padding-left: 15px;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  /*background-color: #2c5baa;*/
  font-family: 'Open Sans',sans-serif;
}

#gameControls{
  position:;
  bottom:;
  width:50;
  height:60px;
  text-align: center;
}
.divider{
    width:5px;
}


#nav ul {
  margin-left: 10px;
}

#nav ul, #acc ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul li, #acc ul li {
  display: inline-block;
  height: 44px;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#nav ul li a, #acc ul li a {
  display: block;
  height: 100%;
  padding: 12px 15px 0;
  color: #dcdcdc;
  font-size: 10pt;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: background-color 150ms ease-in-out;
}

a {
  text-decoration: none;
}

#acc {
  float: right;
}

// ================================================================================
// Basic Body Framework
// ================================================================================

.side {
  height: 50px;
  background: #000000;
}

.gameBoardWrapper {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  /*left:0;*/
}

.side.left{
    float: left;
    width:50%;
}

.side.right{
  float: right;
    width: 50%;
}

// ================================================================================


.threeD {
  cursor: pointer;
}


.twoD {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAGXRF…SUm4s98DHoDeWoHe13JEX7K4W5JZaotxSf2/klvpHgAEA/beulxpK/qIAAAAASUVORK5CYII=") 15 15,crosshair!important;
  margin:auto;
/*      height:300px;
    width:300px;*/
    padding-top: 110px;

}

#submitCube {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: 10pt;
  font-weight: 600;
  margin: 2px 5px 0;
  padding: 1px 14px;
  border-radius: 2px;
  color: #e2e2e2;

}
button {
  -moz-box-shadow:inset 0px -3px 7px 0px #035ed7;
  -webkit-box-shadow:inset 0px -3px 7px 0px #035ed7;
  box-shadow:inset 0px -3px 7px 0px #035ed7;
  background-color:#2dabf9;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #035ed7;
  display:inline-block;
  cursor:pointer;
  color:#ffffff !important;
  font-family:Arial;
  font-size:15px;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px 1px 0px #035ed7;
}
button:hover {
  background-color:#035ed7;
}
button:active {
  position:relative;
  top:1px;
}

.circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

#leaderboard{
  color: white !important;
  font-size: 24px; text-align: center;padding-top: 20px;
}

/*canvas {
  width: 96%;
  border-style: solid;
    border-color: red;
}*/

/*.menuButton {
  float: right;
  padding-right: 7px;
  cursor: pointer;
  overflow: hidden;
  max-height: 63px;
  margin-left: 16px;
}

#muteButton {
  margin-top: 5px;
  margin-left: 7px;
  padding-right: 7px;
}*/